<%- include ('../partials/header.ejs') %>
<%- include('../partials/navbarAuth.ejs') %>
<!-- ##### Breadcrumb Area Start ##### -->
<section class="call-to-action-area section-padding-100 bg-img bg-overlay" style="background-image: url(/img/leader-img/bg_3.jpg)">
    <div class="container"></div>
</section>
<!-- ##### Breadcrumb Area End ##### -->
<%- include('../partials/footer.ejs') %>